@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: #5D534A;
}

body {
  background-color: #eae8e1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  height: 100vh;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  min-width: 295px;
}

nav.nav-grid {
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "logo links";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: block;
  padding-top: .5rem;
}

.logo img {
  width: 30px;
  height: auto;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-link {
  padding: .5rem 1rem;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.menu .menu-link:hover {
  background-color: #eae8e1;
}

.burger {
  display: none;
}

@media screen and (max-width: 520px) {
  nav.nav-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo links burger";
  }
  .burger {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: burger;
    display: block;
    cursor: pointer;
  }
  .burger img {
    width: 30px;
    height: auto;
  }
  .menu .menu-link {
    display: none;
  }
  .menu.show {
    margin-top: 3.5rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: links;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu.show .menu-link {
    width: 60%;
    padding: .5rem 0;
    display: block;
  }
}
